torch==1.13.1
torchvision==0.4.0
tqdm
psutil
tensorboardX==1.8
tensorflow-gpu==1.15.2
nvidia-ml-py3
pytest
pytest-forked
pre-commit
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=9.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
