torch==2.10.0
torchvision==0.4.0
tqdm
psutil
tensorboardX==1.8
tensorflow-gpu==1.15.2
nvidia-ml-py3
pytest
pytest-forked
pre-commit
protobuf>=6.33.5 # not directly required, pinned by Snyk to avoid a vulnerability
